# Wikipedia account used by the autotest
WIKI_USER_NAME=your_wikipedia_login
WIKI_USER_PASSWORD=your_wikipedia_password

# Wikipedia edition the tests run against (language subdomain of wikipedia.org)
WIKI_LANG_DOMAIN=en
